# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Operating System
.DS_Store
Thumbs.db

# Generated output
output/
logs/

# Streamlit secrets (if you use them later)
.streamlit/secrets.toml